* {
    font-family: "Open Sans", serif;
    font-size: 12pt;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

h3 {
    font-size: 18pt;
}

h1 {
    font-size: 25pt;
}

.study-button {
    border-radius: 10px;
    border: solid 1px black;
    color: white;
    background-color: black;
}

.study-button:hover {
    border: solid 1px black;
    color: black;
    background-color: white;
}

.inactive-button {
    border-color:transparent;
    color: gray;
    background-color: darkgray;
}

.inactive-button:hover {
    border-color: transparent;
    color: gray;
    background-color: darkgray;
}

#set-preview-section {
    border: dotted 2px transparent;
    width: fit-content;
}

#set-preview-section:hover {
    border-color: black;
}

#set-label {
    display: inline-block;
}

#set-select {
    display: none;
}

#study-flashcard-viewport {
    display: grid;
    place-items: center;
}

#study-flashcard {
    height: 200px;
    width: 200px;
    border: solid 2px black;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#study-flashcard-buttons {
    border: solid 2px transparent;
}